[submodule "gaia-web"]
	path = gaia-panel
	url = https://github.com/CtrI-Alt-Del/gaia-panel
	branch = main
[submodule "gaia-server"]
	path = gaia-server
	url = https://github.com/CtrI-Alt-Del/gaia-server
	branch = main
[submodule "gaia-iac"]
	path = gaia-iac
	url = https://github.com/CtrI-Alt-Del/gaia-iac.git
	branch = main
[submodule "gaia-collector"]
	path = gaia-collector
	url = https://github.com/CtrI-Alt-Del/gaia-collector
[submodule "gaia-portal"]
	path = gaia-portal
	url = https://github.com/ctrI-Alt-Del/gaia-portal.git
